<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            position: fixed;
            top: 0;
            width: 100%;
        }
        li {
            display: inline;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head %}{% endblock %}
    </title>

</head>
<body>
<!--    <div class="topnav">-->
<!--        <form method="POST" action="/tutor-page" >-->
<!--            <input type="submit" name="tutor" value = "Tutor" />-->
<!--        </form>-->
<!--    </div>-->
    <ul>
        <li><a href="/tutorPage">TutorService</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Login</a></li>
    </ul>

    {% block body %}{% endblock %}
</body>
</html>