{% extends 'base.html'%}

{% block head %}
    Calendar Page
{% endblock %}

<!--
    Table Row (tr)
    Table Data (td), the content of the table cell
    Table Header (th), text in th elements are bold and centered by default
-->

{% block body %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td, th {
        padding: 15px;
    }
</style>

<div>
    <br>

    <h1>Tutor Calendar</h1>
    
    
    {% include 'includes/confirm_modal.html' %}

    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Confirm-Modal">
        Confirm
    </button>
    -->

    <table>
        <thead>
            <tr>
                <!--
            <th scope="col" rowspan="2">Start Time</th>
            <th scope="col" rowspan="2">End Time</th>
                -->
            <th></th>
            <th></th>
            {% for day in weekdays %}
            <th scope="col" colspan={{ num_attributes }}>{{ day }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                
                {% for day in weekdays %}
                
                    {% for attribute in calendar_attributes %}
                        <th scope="col">{{ attribute }}</th>
                    {% endfor %}

                {% endfor %}
            </tr>
            {% for time in times %} 
            <tr>
                <td>{{ time[0] }}</td>
                <td>{{ time[1] }}</td>
                
                {% for x in total_attributes %}
                    {% if time[0] == "10:00AM" %}
                        {% if x == "Tutor" %}
                            <td>John</td>
                        {% endif %}     
                        
                        {% if x == "Tutor Service" %}
                            <td>Computer Science</td>
                        {% endif %}
                        
                        {% if x == "Zoom Link" %}
                            <td>https:zoom.com</td>
                        {% endif %}
                        
                        {% if x == "Spaces Available" %}
                            <td>2/3</td>
                        {% endif %}
                        {% if x == "Confirm" %}  
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Confirm-Modal">
                                Confirm
                            </button></td>
                        {% endif %}                 
                    {% else %}
                        <td></td>
                    {% endif %}

                {% endfor %}
                
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}