{% extends 'base.html'%}

{% block head %}
Tutor Page
{% endblock %}
<link rel="stylesheet" href="style/tutorPage.css">
const tutorSchedule = [];

<!--
    Table Row (tr)
    Table Data (td), the content of the table cell
    Table Header (th), text in th elements are bold and centered by default
-->

{% block body %}

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    background-color: white;
  }
  #schedule{
    background: white;
  }

  td, th {
    padding: 20px;
  }
  .popup {
    position: relative;
    display: inline-block;
  }

  .popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup .show {
    visibility: visible;
    /*-webkit-animation: fadeIn 1s;*/
    animation: fadeIn 1s
  }
  /*@-webkit-keyframes fadeIn {*/
  /*  from {opacity: 0;}*/
  /*  to {opacity: 1;}*/
  /*}*/

</style>

<h1>Tutor Schedule</h1>
<form action= "{{ url_for('tutor_page') }}" method = "POST">
  <div class = "form-group">
    <div class= "input-group">
        <div class = "popup" >
<!--            <input type="hidden" class= "form-control" name ="dataCell" > onclick="getDictionary()"-->
<!--            <body onload = "getDictionary()">-->
            <input type="submit" value= "Save Schedule" name = "dictionary" onclick="getDictionary()" onsubmit="return false">
<!--            </body>-->
          <span class="popuptext" id="myPopup">Schedule saved!</span>
        </div>
    </div>
  </div>

<button onclick="refreshBackground()">Refresh Schedule</button>
<div id = "tableSchedule">

  <table id ="schedule">
    <thead>
    <tr>
      <!--
  <th scope="col" rowspan="2">Start Time</th>
  <th scope="col" rowspan="2">End Time</th>
      -->
      <th></th>
      <th></th>
      {% for day in weekdays %}
      <th id = "weekday" scope="col" colspan="1">{{ day }}</th>
      {% endfor %}
    </tr>

    </thead>
    <tbody>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>

      {% for day in weekdays %}

      <th scope="col">Available</th>

      {% endfor %}
    </tr>
    {% for timeL in times %}

    <tr>
      <td class = "start" >{{ timeL[0] }}</td>
      <td class = "end" >{{ timeL[1] }}</td>


<!--        <input type="text" class="form-control" name="email" id="email"  placeholder="name@abc.edu" required/>-->
        {% for x in range(total_cols) %}
              <td class = "data" onclick = "changeColor('springgreen')">
<!--                <input type="hidden" class= "form-control" name ="dataCell" >-->
              </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
</form>

<script>
const dictionary = {};

  function changeColor(color) {
    // window.alert("in change color function");
    el = event.target
    var row = el.parentNode.rowIndex;
    var col = el.closest("td").cellIndex;

    if(el.style.backgroundColor !== color){
        el.style.backgroundColor = color;
        return addToSchedule(row, col);
    }
    else{
      el.style.backgroundColor = el.parentNode.style.backgroundColor;
    }
  }

  function addToSchedule(row, col){
    //row 0 col 2:8 are the weekdays
    //row 2:27 col 0 are start times
    //row 2:27 col 1 are end times

    var table = document.getElementById("schedule");
    var weekday = table.rows[0].cells[col].innerText;
    var startT = table.rows[row].cells[0].innerText;
    var endT = table.rows[row].cells[1].innerText;
    var time = startT + " " + endT;

    // dictionary[weekday] = time;
    //M -> "8-8:30" "9-9:30"
    //T -> "11-11:30" "5-5:30"

    // return time;
    window.alert(weekday + " " + startT + " " + endT);
  }

  function refreshBackground() {
      const dict = getDictionary();
      window.alert("size: " + dict.size);
      for(var key in dict) {
          var value = dict[key];
          console.log("key: " + key + " val: " + value);
          // do something with "key" and "value" variables
      }
    const d = document.getElementsByClassName("data");
    for (var i = 0; i < d.length; i++) {
      d[i].style.backgroundColor = "white";
    }
  }

  function getDictionary(){
      // const d = document.getElementsByClassName("data");
      var table = document.getElementById('schedule');
      for (var row = 0; row < table.rows.length; row++) {
          for (var col = 0;  col < table.rows[row].cells.length; c++) {
              if(table.rows[row].cells[col].style.backgroundColor === "springgreen"){
                  window.alert("found green");
                  var startT = table.rows[row].cells[0].innerText;
                  var endT = table.rows[row].cells[1].innerText;
                  var time = startT + " " + endT;
                  dictionary[table.rows[0].cells[col].innerText] = time;
                  // window.alert("time" + time);
              }
          }
      }
      return dictionary.toString();
  }

</script>

{% endblock %}